<div class="container-fluid">
    <div class="Jantri-table">
        <div class="table-title-heads">
            <div class="table-title">
                jantri
            </div>
            <div class="table-filters">
                <div class="table-filter">
                    Shift
                    <select class="form-control">
                        <option value="DELHI BAZAR">DELHI BAZAR</option>
                        <option value="SHREE GANESH">SHREE GANESH</option>
                        <option value="FARIDABAD">FARIDABAD</option>
                        <option value="GAZIYABAD">GAZIYABAD</option>
                        <option ption value="GALI">GALI</option>
                            <option value="DESAWAR">DESAWAR</option>
                    </select>
                </div>
                <div class="table-filter">
                    Date

                    <input type="date" class="form-control" />
                </div>
            </div>
            <div class="side-menu ">
                <button class="btn btn-excel">Excel</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>
                    <th scope="col">10</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
               
               
             
               
              
               
                <tr *ngFor="let item of column[0]?.number;let i=index">
                    <td *ngFor="let value of item.values;let ii=index" [attr.data-title]="value.val"><input type="number" (keyup.enter)="keytab($event)" [(ngModel)]="value[value.val]"  min="0"  onpaste="return false;" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  name={{value[value]}}  class="jantri-ghar-input"></td>
                    
                    <td class="total-row">{{getRowTotal(i)}}</td>
                    
                </tr>
                <tr>
                    <th class="total-row">{{getFirstColumnTotal()}}</th>
                    <th class="total-row">{{getSecondColumnTotal()}}</th>
                     <th class="total-row">{{getThirdColumnTotal()}}</th>
                    <th class="total-row">{{getFourthColumnTotal()}}</th>
                    <th class="total-row">{{getFifthColumnTotal()}}</th>
                    <th class="total-row">{{getSixthColumnTotal()}}</th>
                    <th class="total-row">{{getSeventhColumnTotal()}}</th>
                    <th class="total-row">{{getEighthColumnTotal()}}</th>
                    <th class="total-row">{{getNinthColumnTotal()}}</th>
                    <th class="total-row">{{getTenthColumnTotal()}}</th>
                    <th class="total-row">{{getEleventhColumnTotal()}}</th> 
                    
                    
                   
                    
                </tr>
                <tr >
                    <td *ngFor="let value of column[0].bahar;let ii=index" [attr.data-title]="value.val"><input type="number" [(ngModel)]="value[value.val]"  min="0"  onpaste="return false;" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  name={{value[value]}}  class="jantri-ghar-input"></td>
                    
                    <td class="total-row">{{getBaharTotal()}}</td>
                </tr>
                <tr  >
                    <td *ngFor="let value of column[0].ander;let ii=index" [attr.data-title]="value.val"><input type="number" [(ngModel)]="value[value.val]"  min="0"  onpaste="return false;" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  name={{value[value]}}  class="jantri-ghar-input"></td>
                  
                    <td class="total-row">{{getAnderTotal()}}</td>
                </tr>
                <tr>
                    <th class="total-row">-</th>
                    <th class="total-row">-</th>
                    <th class="total-row">-</th>
                    <th class="total-row">-</th>
                    <th class="total-row">-</th>
                    <th class="total-row">-</th>
                    <th class="total-row">-</th>
                    <th class="total-row">-</th>
                    <th class="total-row">-</th>
                    <th class="total-row">Grand Total</th>
                    <th class="total-row">{{grandTotalgrandTotal()}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>