<div class="fullscreen-login">
    <div class="app">
  
        <div class="bg"></div>
  
        <form>
            <header>
                <img src="https://image.flaticon.com/icons/png/512/23/23144.png">
            </header>
  
            <div class="inputs">
              <input type="email" name='email' [(ngModel)]="loginData.username" class="login-input pg-input mail" placeholder="Enter Email Address">
              <input type="password" name='password' [(ngModel)]="loginData.password" class="login-input pg-input password" placeholder="Enter Your Password">
      
  
                
            </div>
  
        </form>
  
        <footer>
            <button  (click)="login()" >Login</button>
            
        </footer>
  
  
    </div>
  
  </div> 
  
  <!-- <ngx-datatable
  [rows]="rows"
  [columns]="columns" class="material server-scrolling-demo"
  [columnMode]="columnMode.force" [headerHeight]="100" [footerHeight]="70" [rowHeight]="'auto'" >
</ngx-datatable> -->

<!-- <div style="height:100%;">
    <ngx-datatable class="material server-scrolling-demo" [rows]="resultList" [columnMode]="columnMode.force"
      [headerHeight]="50" [rowHeight]="50" [loadingIndicator]="false" [scrollbarV]="true" [scrollbarH]="true"
      style="height: 100%;">
      <ngx-datatable-column *ngFor="let columnInfo of columnInfoArray" name="{{columnInfo['label']}}"
        prop="{{columnInfo['prop']}}">
      </ngx-datatable-column>
    </ngx-datatable>
  </div> -->