<div class="container-fluid">
    <div class="Jantri-table fanter-table">
        <div class="table-title-heads">
            <div class="table-filters ms-0">
                <div class="table-filter ms-0">
                    Party
                    <input class="form-control" type="text" value="ID DEEPAK FNTR">

                </div>
                <div class="price-list">
                    <span class="badge bg-success">Rate: 90/10-9/10</span>
                    <span class="badge bg-info">Limit: 2000</span>
                    <span class="badge bg-success">[ ]</span>
                </div>
            </div>
            <div class="side-menu ">
                <span class="badge bg-danger">Date: 10-08-2021</span>
                <span class="badge bg-danger">Time Left: 00:52:09</span>
            </div>
        </div>
        <div class="fanter-table-content">




            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">1</th>
                            <th scope="col">2</th>
                            <th scope="col">3</th>
                            <th scope="col">4</th>
                            <th scope="col">5</th>
                            <th scope="col">6</th>
                            <th scope="col">7</th>
                            <th scope="col">8</th>
                            <th scope="col">9</th>
                            <th scope="col">10</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of column[0]?.number;let i=index">
                            <td *ngFor="let value of item.values;let ii=index" [attr.data-title]="value.val"><input type="number" 
                                (keyup.arrowright)="arrowKeyChange($event)"  
                                (keydown)="moveCell($event)"
                            (keyup)="keytab($event)"  [(ngModel)]="value[value.val]"  min="0"  onpaste="return false;" oninput="this.value = 
                                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  name={{value[value]}} onwheel="return false;" (keydown.arrowup)="(false)" (keydown.arrowdown)="(false)"  class="jantri-ghar-input"></td>
                            
                            <td class="total-row">{{getRowTotal(i)}}</td>
                            
                        </tr>
                        <tr>
                            <th class="total-row">{{getFirstColumnTotal()}}</th>
                            <th class="total-row">{{getSecondColumnTotal()}}</th>
                             <th class="total-row">{{getThirdColumnTotal()}}</th>
                            <th class="total-row">{{getFourthColumnTotal()}}</th>
                            <th class="total-row">{{getFifthColumnTotal()}}</th>
                            <th class="total-row">{{getSixthColumnTotal()}}</th>
                            <th class="total-row">{{getSeventhColumnTotal()}}</th>
                            <th class="total-row">{{getEighthColumnTotal()}}</th>
                            <th class="total-row">{{getNinthColumnTotal()}}</th>
                            <th class="total-row">{{getTenthColumnTotal()}}</th>
                            <th class="total-row">{{getEleventhColumnTotal()}}</th> 
                            
                            
                           
                            
                        </tr>
                      
                    </tbody>
                </table>
            </div>
            <div class="game-time">
                <div class="game-content">
                    <div class="game-title">
                        Gali [live]
                    </div>
                    <div class="error-badge sucess-warning">
                        Applied Narration
                    </div>
                </div>
                <div class="game-footer">
                    <div class="grand-totle">
                        Grand Total: 0
                    </div>
                </div>




            </div>

        </div>

        <div class="fanter-table-footer d-flex">
            <div class="left-details">
                <a class="help-text">Need Help?</a>
                <span>[ shift + esc = Exit]</span>
            </div>
            <div class="filter-options ms-auto">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#JODA">JODA
                    <small>(F3)</small></button>
                <button class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#Random">Random<small>(F4)</small></button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fromTo">From-To
                    <small>(F7)</small></button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#OddEven">Odd/Even
                    <small>(F9)</small></button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EkdiDukdi">Ekdi/Dukdi
                    <small>(F10)</small></button>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="saveUserJantri()">Save Now
                    <small>(F2)</small></button>
                <button class="btn btn-warning" (click)="clearAllData()" >Clear</button>
            </div>
        </div>
    </div>
</div>

<!-- JODA -->
<div class="modal fade" id="JODA" tabindex="-1" aria-labelledby="JODA" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="exampleModalLabel">JODA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table model-table-input">
                    <tr>
                        <th>AMOUNT</th>
                        <th> <input type="text" name="joda" [(ngModel)]="jodaAmount" placeholder="AMOUNT" /></th>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal" (click)="cancelJoda()">Close </button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="setJoda()"> Save</button>
            </div>
        </div>
    </div>
</div>


<!-- Random -->
<div *ngIf="randomIsOpen" class="modal fade" id="Random" tabindex="-1" aria-labelledby="Random" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="exampleModalLabel">Random</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="randum-data">
                    <label>Selected Numbers</label>
                    
                      
                            <tag-input [(ngModel)]='randoms' [editable]='true'  [allowDupes]='true'   [placeholder]="'Number'" ></tag-input>
                        
                      
                   
                </div>
                <table class="table model-table-input">
                     <tr>
                        <th>NUMBER</th>
                        <th><input type="text" name="randoms" placeholder="NUMBER" />
                             </th>
                    </tr> 
                    <tr>
                        <th>AMOUNT</th>
                        <th> <input type="text" name="joda" placeholder="AMOUNT" /></th>
                    </tr>
                    <tr>
                        <th>PLT-AMOUNT</th>
                        <th> <input type="text" name="joda" placeholder="PLT-AMOUNT" /></th>
                    </tr>
                </table>
                <h3>TOTAL AMOUNT : 0</h3>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close </button>
                <button type="button" class="btn btn-info"> Save</button>
            </div>
        </div>
    </div>
</div>


<!-- fromTo -->
<div class="modal fade" id="fromTo" tabindex="-1" aria-labelledby="fromTo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="exampleModalLabel">From-To</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table  model-table-input">
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>AMOUNT</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="fromNumber" [(ngModel)]="fromNumber" class="form-control" placeholder="FROM">
                        </td>
                        <td>
                            <input type="text" name="fromNumber" [(ngModel)]="toNumber" placeholder="TO">
                        </td>
                        <td>
                            <input type="text" name="fromToAmount" [(ngModel)]="fromToAmount" placeholder="AMOUNT">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">PALT SECTION</td>
                        <td>
                            <input type="text" placeholder="PLT-AMOUNT">
                        </td>
                    </tr>
                </table>
                <h3>TOTAL AMOUNT: 0</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal" (click)="closeFromTo()">Close </button>
                <button type="button" class="btn btn-info"  data-bs-dismiss="modal" (click)="fromToNumber()"> Save</button>
            </div>
        </div>
    </div>
</div>

<!-- OddEven -->
<div class="modal fade"  id="OddEven" tabindex="-1" aria-labelledby="OddEven" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="exampleModalLabel">Odd/Even Panel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table  model-table-input">
                    <tr>
                        <th>TYPE</th>
                        <th>FROM</th>
                        <th>TO</th>
                        <th>AMOUNT</th>
                    </tr>
                    <tr>
                        <td class="number-type">
                            ODD
                        </td>
                        <td>
                            <input type="text" name="fromOdd" [(ngModel)]="fromOdd" placeholder="NUMBER">
                        </td>
                        <td>
                            <input type="text" name="toOdd" [(ngModel)]="toOdd" placeholder="NUMBER">
                        </td>
                        <td>
                            <input type="text" name="Oddmount" [(ngModel)]="OddAmount" placeholder="AMOUNT">
                        </td>
                    </tr>
                    <tr>
                        <td class="number-type">
                            EVEN
                        </td>
                        <td>
                            <input type="text" name="fromEven" [(ngModel)]="fromEven" placeholder="NUMBER">
                        </td>
                        <td>
                            <input type="text" name="toEven" [(ngModel)]="toEven" placeholder="NUMBER">
                        </td>
                        <td>
                            <input type="text" name="evenAmount" [(ngModel)]="evenAmount" placeholder="AMOUNT">
                        </td>
                    </tr>
                </table>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal" (click)="closeOddEven()" >Close </button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="oddEven()"> Save</button>
            </div>
        </div>
    </div>
</div>

<!-- EkdiDukdi -->
<div class="modal fade"  id="EkdiDukdi" tabindex="-1" aria-labelledby="EkdiDukdi" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="exampleModalLabel">Ekdi/Dukdi/tikdi Panel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table model-table-input">
                    <tr>
                        <th>TYPE</th>
                        <th>AMOUNT</th>
                    </tr>
                    <tr>
                        <td class="number-type">
                            EKDI [1]
                        </td>
                        <td>
                            <input type="text" name="edki" [(ngModel)]="ekdi_amount" placeholder="AMOUNT">
                        </td>
                    </tr>
                    <tr>
                        <td class="number-type">
                            DUKDI [2]
                        </td>
                        <td>
                            <input type="text" name="edki" [(ngModel)]="dukdi_amount" placeholder="AMOUNT">
                        </td>
                    </tr>
                    <tr>
                        <td class="number-type">
                            TIKDI [3]
                        </td>
                        <td>
                            <input type="text" name="edki" [(ngModel)]="tikri_amount" placeholder="AMOUNT">
                        </td>
                    </tr>
                </table>
                <h3>TOTAL AMOUNT: 0</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal" (click)="clearEkdiDukdi()" >Close </button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="setEkdiDukdi()"> Save</button>
            </div>
        </div>
    </div>
</div>
