<div class="modal-header-btn" style="margin-inline-end: auto;">
    <div class="container_name navbar-brand">Menu</div>
    <div>
<button  type="button" class="btn btn-primary" data-bs-toggle="modal"  (click)="onCreate()" data-bs-target="#exampleModal">
  Add Menu<i class="fa fa-plus-circle pr-12"></i>
</button>

</div>
</div>




<div class="content-card">
<ngx-datatable *ngIf="allMenu"
[rows]="allMenu.items"
 class="material server-scrolling-demo"
[columnMode]="columnMode.force" [headerHeight]="50" [externalPaging]="true"  [count]="page.totalCount"
[offset]="page.pageIndex"
(page)='setPage($event)'
[limit]="page.pageSize"  [footerHeight]="70" [rowHeight]="'auto'" >

<ngx-datatable-column   name="#" prop="name"   [draggable]="true" [resizeable]="true" cellClass="overlaping">   
    <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
        <span class="local-sort" title="Name"> Name </span>        
    </ng-template>
    <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <span class="text">
            <!-- {{row.name }} --> 
            {{row.name}}
          
        </span>
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
    <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
        <span class="local-sort" title="Parent Menu"> Parent Menu </span>        
    </ng-template>
    <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <span class="text">
        
            <!-- {{row.name }} --> 
            {{row.parentMenuName}}
          
        </span>
       
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
    <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
        <span class="local-sort" title="Order"> Order </span>        
    </ng-template>
    <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <span class="text">{{row.order}}</span>
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
    <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
        <span class="local-sort" title="Level"> Level </span>        
    </ng-template>
    <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <span class="text">{{row.level}}</span>
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
  <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
      <span class="local-sort" title="Link"> Link </span>        
  </ng-template>
  <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
    <span class="text">{{row.route}}</span>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
  <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
      <span class="local-sort" title="Status"> Status </span>        
  </ng-template>
  <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
    <span class="badge bg-success" *ngIf="row.recordState=='Active' ">
        <!-- {{row.name }} --> 
        {{(row.recordState)}}
      
    </span>
    <span  class="badge bg-danger" *ngIf="row.recordState =='Inactive' ">
        <!-- {{row.name }} --> 
        {{(row.recordState)}}
      
    </span>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
  <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
      <span class="local-sort" title="Action"> Action </span>        
  </ng-template>
  <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
     
      <span class="fa fa trash"  >
          
        <span style="cursor: pointer;padding-right: 10px;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(row)">Edit</span> <span style="cursor: pointer;" (click)="deleteMenu(row)">Delete</span> 
        </span>
  </ng-template>
</ngx-datatable-column>
</ngx-datatable>
</div>
<div *ngIf="createGet" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="!isEditMode" class="modal-title" id="exampleModalLabel">Add Menu</h5>
                <h5 *ngIf="isEditMode" class="modal-title" id="exampleModalLabel">Edit Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                              <label class="label">Name</label>
                              <input class="form-control" id='1' type="text" required tabIndex="1" (keyup.enter)="keytab($event)" [ngClass]="obj_error_msg.indexOf('Name is required') != -1 &&
                              (menuName == null || menuName == 'null' || menuName == ' '  ) ? 'errorsShow':''"
                 
                                name="name" [(ngModel)]="menuName" placeholder="Name" />
                          </div>
                      </div>
                      <!-- [ngClass]="{errorBorder: obj_error_msg?.indexOf('Name is required') != -1}" -->
                      <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                              <label class="label">Link</label>
                              <input class="form-control" id='2' required tabIndex="2" [ngClass]="{errorBorder: obj_error_msg?.indexOf('Link is required') != -1}" type="text" name="link" [(ngModel)]="link" placeholder="Name" />
                          </div>
                      </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="label">Role</label>                              
                                <select (change)="getMenuBaseOnRoleId(Role)" (keyup.enter)="keytab($event)" [ngClass]="{errorBorder: obj_error_msg?.indexOf('Role is required') != -1}" [(ngModel)]="Role" class="form-control">
                                  <option value="">-- Select --</option>
                                  <option *ngFor="let item of createGet.roles"  value="{{item.id}}">{{item.name}}</option>
                                  
                                </select>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="label">Level</label>
                                <select [disabled]="Role =='' " [ngClass]="{errorBorder: obj_error_msg?.indexOf('level is required') != -1}" (change)="checkLevelValue()"  [(ngModel)]="level" class="form-control">
                                  <option value="">-- Select --</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                        </div>   
                        <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                              <label class="label">Level 1</label>
                              
                              <select [disabled]="!isMainEnable" [ngClass]="{errorBorder: obj_error_msg?.indexOf('Main menu is required') != -1}" [(ngModel)]="mainMenu"  class="form-control">
                                <option value=null>-- Select --</option>                                
                                <option *ngFor="let item of mainMenuData"  value="{{item.id}}">{{item.name}}</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                              <label class="label">Level 2</label>
                             
                              <select [disabled]="!isSubEnable" [ngClass]="{errorBorder: obj_error_msg?.indexOf('Sub menu is required') != -1}" [(ngModel)]="subMenu" class="form-control">
                                  <option value=null>-- Select --</option>
                                  <option *ngFor="let item of subMenuData"  value="{{item.id}}">{{item.name}}</option>
                                </select>
                          </div>
                      </div>
                             
                      
                       
                        <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                              <label class="label">Menu Position</label>
                              <input [disabled]="level =='' " type="number" [ngClass]="{errorBorder: obj_error_msg?.indexOf('position is required') != -1}" name="position" [(ngModel)]="position" class="form-control">                            
                          </div>
                      </div> 
                       
                    
  
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" *ngIf="!isEditMode" class="btn btn-primary" (click)="menuCreate()">Save </button>
                <button type="button" *ngIf="isEditMode" class="btn btn-primary" (click)="updateMenu()" >Update</button>
                <button type="button" class="btn btn-link text-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>

 